/*body {
  background: url(https://moodle.unitec.ac.nz/pluginfile.php/281368/mod_page/content/5/topography1.jpeg);
}
*/
nav {
  background: rgba(36, 13, 190, 0.94);
}
.section {
  background: rgba(36, 13, 190, 0.94);
}
#submitButton {
  text-align: center;
}

#outerBox {
  background-color: grey;
}

#textAreaFont {
  font-size: 22px;
  color: red;
}

.parallax-container {
      height: 450px;
    }


