<script type="text/javascript">
  $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>

<!-- PARALLAX CONTAINER -->
<div class="parallax-container">
  <div class="parallax"><img src="http://orig11.deviantart.net/bd31/f/2013/130/d/e/graph_paper_for_retina_ipad__noteshelf_goodnotes__by_kostroman-d64qu6k.jpg">
    <div class="card-panel">
      <h4 id="description">Have any good ideas? <br> I&apos;ll hold them for you... <br>just in case. <br> You can have
      them back whenever you want. <br>I promise...</h4>
    </div>
  </div>
</div>
<div class="section">
  <div class="row container">
    <h3 class="header">Put your idea in my bank!</h3>
    <form ng-controller="IdeasController as vm">
    <div class="row">
      <div class="input-field col s6" id="box">
        <input value="Idea..." id="idea" type="text" class="validate" ng-model='vm.newIdea.content'>
          <a type="submit" class="waves-effect waves-light btn-large" ng-click="vm.submitIdea()"><i class="material-icons left">queue</i>Submit Idea</a>
      </div>
    </div>
    </form>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="http://cdn3.lomography.com/09/aafd16fbc31b78af1822a4e08959bc22bf4943/1216x679x2.jpg?auth=224d59cb9e944b00ad5bb97324aa1e598b83d29f"></div>
</div>
