
nav {
  background: rgba(6, 36, 95, .9);
}

p {
  font-size: 20px;
}

#chartdiv {
  background-color: #0B353F;
}

.section {
  background: rgba(6, 36, 95, .9);
}

.header {
  font-family: 'Montserrat', sans-serif;
}

.brand-logo, .dropdown-button {
  color: rgba(80, 93, 98, 0.41);
  font-family: 'Montserrat', sans-serif;
}
#submitButton {
  text-align: center;
}

#description {
  line-height: 40px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: navyblue;
  font-weight: bold;
  text-align: center;
  margin-top: 110px;
  position: relative;
  z-index: 4000;
}

#textAreaFont {
  font-size: 22px;
  color: red;
}

#user-chart {

  margin: 20px;
}

#radar {
  padding: 15px;
  margin: 15px;
}

.parallax-container {
      height: 450px;
}


